<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} | Blairsden Landscape Design</title>
    <link rel="stylesheet" href="/css/pico.min.css">
  </head>
  <body>
    <header>
      <h1>Blairsden Landscape Design</h1>
      <nav>
        <a href="/">Home</a>
      </nav>
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      <p>&copy; Blairsden Landscape Design</p>
    </footer>
  </body>
</html>
